<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vanrrtech.app.prodiaappsample">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProdiaAppSample">
        <activity android:name="vanrrtech.app.prodiaappsample.base_components.UtilServices.location.ActivityLocationPermissionRequest"></activity>
        <activity android:name=".base_components.base_classes.BaseActivity" />
        <activity android:name="vanrrtech.app.prodiaappsample.features.github.home.TopActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
    </application>

</manifest>